body,html{
	font-size: 13px;
	line-height: 20px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Fira Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

}
.login-page{
	background-color: #ccc;
	background-image: url(../../images/beige_paper.png);
}
.bg-light{
  background-color: #6716b9 !important;
}
.icon{
    color:#fff ;
    font-weight: bold;
    text-transform: uppercase;
}
.icons{
    color:#000 !important;
    font-weight: bold;
    text-transform: uppercase;
}
.home-page{
  background-image: url(../../images/beige_paper.png);
  background-color: #ccc;
}
.menu{
  padding:0px;
}
.menu li{
  list-style: none;
  display: inline;
}
.menu li a{
  display: inline-block;
  width: 202px;
  height: 152px;
  background: #fff;
  text-align: center;
  border-radius: 2px;
  border:1px solid #eee;
  text-decoration: none;
}
.menu li a > .content p:hover{
    color: #000;
		transition: all 0.5s;
}
.menu li a > .content img:hover{
		transition: all 0.5s;
}
.menu li a > .content p{
  color: #6716b9;
  font-size: 18px;
  font-weight: 800;
	text-transform: uppercase;
}
.footer{
	position: absolute;
	bottom: -10px;
	right: 14px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	color: #777;
	width:100px;
	text-align: center;
}
.header-wrapper{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.server-list li{
	font-weight:800;
}
.server-list li > p{
	font-weight: normal;
}
.quickmenu{
	position: fixed;
	left: 20px;
}
.quickmenu ul li{
	list-style: none;
}
.quickmenu ul{
	padding: 0px;
}
.quickmenu .title{
   font-size: 15px;
   text-align: center
}
.quickmenu ul li a{
	margin-bottom: 10px;
}
.setting_panel{
	margin-top: 70px;
	background: #FFF;
	padding: 20px;
	border-radius: 5px;
}
.setting_panel h4{
	margin-bottom: 15px;
}
.set{
	font-size: 14px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}
