*{
	margin:0;
}
body,html{
	font-size: 16px;
	line-height: 20px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Fira Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

}

.switch-mode{
	color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #cabe04;
}
.login-page{
	background-color: #ccc;
	background-image: url(../../images/beige_paper.png);
}
.bg-light{
  background-color: #28a745 !important;
  border-bottom:3px solid #cabe04;
}
.icon{
    color:#fff ;
    font-weight: bold;
    text-transform: uppercase;
}
.icons{
    color:#000 !important;
    font-weight: bold;
    text-transform: uppercase;
}


.footer{
	position: absolute;
	bottom: -10px;
	right: 14px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	color: #777;
	width:100px;
	text-align: center;
}


